<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPE.SmsIr.NetFramework" version="1.0.1" targetFramework="net451" />
  <package id="MD.PersianDateTime" version="4.5.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
</packages>